html {
    background-color: #333333;
    color: #999999;
    font-family: sans-serif;
    font-size: 0.9em;
}

#game-host, #main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#game-host {
    padding: 4px;
    background-color: black;
}

a:link {
    color: #6699ee;
}

a:visited {
    color: #9966cc;
}

a:active {
    color: #ee9933;
}

a:hover {
    color: #99ccee;
}

ul.links {
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}

ul.links>li {
    display: inline;
}

ul.links>li+li::before {
    content: " | ";
}
