html {
    background-color: #333333;
    color: #999999;
    font-family: sans-serif;
}

#game-host, #main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#game-host>canvas {
    border: 8px solid black;
}
